@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-screen overflow-hidden;
    @apply text-gray-900;
  }

  h1 {
    @apply uppercase text-4xl text-center py-5 font-bold;
  }

  h2 {
    @apply text-3xl uppercase;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  a {
    @apply hover:underline;
  }

  input,
  textarea {
    @apply p-2 my-2;
    @apply rounded;
  }

  button {
    @apply transition py-3 px-6 border rounded uppercase tracking-wider cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply  transition py-3 px-6 border rounded uppercase tracking-wider cursor-pointer;
  }

  .btn-primary {
    @apply bg-teal-500 hover:bg-teal-600;
  }

  .btn-secondary {
    @apply bg-lime-400 hover:bg-lime-500;
  }

  .nav-link {
    @apply mx-2 px-2 py-2;
    @apply text-xl;
    @apply rounded;
    @apply hover:bg-red-400;
    @apply transition cursor-pointer;
  }

  .table-row {
    @apply flex px-2 py-3 text-xl border hover:bg-gray-500 transition cursor-pointer;
  }

  .list-icons {
    @apply flex justify-end;
  }

  .list-icon {
    @apply p-2 cursor-pointer transition hover:scale-150;
  }

  .homepage-icon {
    @apply text-4xl;
    @apply transition hover:scale-110 cursor-pointer;
  }

  .input-form-error {
    @apply text-red-500 text-lg text-right -mt-2;
  }
}

.container {
  padding: 1rem 0.75rem;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media only screen and (min-width: 830px) {
  .container {
    max-width: 798px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1140px;
  }
}
